<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Template_Generator.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="Template_Generator.commands.category"
            id="Template_Generator.commands.readFile"
            name="Read File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="template_generator.handlers.ReadFileHandler"
            commandId="Template_Generator.commands.readFile">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Template_Generator.commands.readFile"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Template_Generator.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="Template_Generator.commands.readFile"
                  id="Template_Generator.menus.readFile"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Template_Generator.toolbars.sampleToolbar">
            <command
                  id="Template_Generator.toolbars.sampleCommand"
                  commandId="Template_Generator.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.resources.builders">
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
   </extension>

</plugin>
